{:paths [".build"]
 :deps {io.github.borkdude/carve {:local/root "."}}
 :bbin/bin {carve {:main-opts ["-m" "carve.main/-main"]}}
 :tasks
 {test:bb {:extra-paths ["test"]
           :task (exec 'test-runner/run-tests)}}}
