{:paths ["src"]
 :deps {clj-kondo/clj-kondo {:mvn/version "2023.01.20"}
        io.github.clj-kondo/clj-kondo-bb {:git/tag "v2023.01.20" :git/sha "adfc7df"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.45"}
        org.babashka/cli {:mvn/version "0.6.44"}}
 :tools/usage {:ns-default carve.api}
 :aliases {:kaocha {:extra-paths ["test"]
                    :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                                 lambdaisland/kaocha {:mvn/version "1.75.1190"}
                                 lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}
                                 lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :uberjar
           {:replace-deps ; tool usage is new in 2.x
            {seancorfield/depstar {:mvn/version "2.0.165"}}
            :ns-default hf.depstar
            :exec-fn uberjar
            :exec-args {:jar carve.jar
                        :compile-ns [carve.main]
                        :aliases [:native]}}
           :native {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                    :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}}}
