{:deps {rewrite-cljc {:git/url "https://github.com/lread/rewrite-cljc-playground"
                      :sha "a60f2d3b172c6a8f1c25875f2af6c964b3f5fcc0"}
        clj-kondo {:mvn/version "2019.12.14"}}}
